.btPagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0.5rem 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  backdrop-filter: blur(2px);
}

.btPagination:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.15);
  /* border-color: #7e57c2; */
  transform: scale(1.1);
}

.btPagination:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  filter: grayscale(1);
}
